<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bank.bankingapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.terminal.admin.AdminActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.teller.TellerActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.teller.TellerAuthenticateCustomerActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.teller.TellerCreateCustomerActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.teller.TellerMessagesActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.teller.TellerStartingMenuActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.terminal.atm.ATMActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".activities.login.reset.ResetDatabaseActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>


    </application>

</manifest>